@font-face {
    font-family: 'Open Sans'; 
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: 
       local('Open Sans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
 }

 @font-face {
    font-family: 'Open Sans'; 
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: 
       local('Open Sans-SemiBold'),
       url('../fonts/opensanssemibold.woff2') format('woff2'),
       url('../fonts/opensanssemibold.woff') format('woff');
 }

 @font-face {
    font-family: 'Open Sans'; 
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: 
       local('Open Sans-Bold'),
       url('../fonts/opensansbold.woff2') format('woff2'),
       url('../fonts/opensansbold.woff') format('woff');
 }

 @font-face {
    font-family: 'Open Sans'; 
    font-style: italic;
    font-display: swap;
    font-weight: 400;
    src: 
       local('Open Sans-Italic'),
       url('../fonts/opensansitalic.woff2') format('woff2'),
       url('../fonts/opensansitalic.woff') format('woff');
 }