.contacts__map {
  width: 100%;
  height: 320px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts {
  margin-bottom: 30px;
}

.contacts__container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.contacts__wrap-right {
  order: 0;
  width: 100%;
  margin-bottom: 20px;
}

.contacts__wrap-left {
  order: 1;
  width: fit-content;
  margin: 0 auto;
}

.contacts__adress--desctop {
  display: none;
}

.contacts__adress--mob {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto 20px;
}

.contacts__title {
  width: 100%;
  max-width: 1610px;
  margin: 0 auto 11px;
}

.contacts__showroom-adress {
  font-size: 14px;
  line-height: 10px;
  margin: 0;
}

.callback {
  width: 290px;
}

.contacts__callback {
  margin-bottom: 20px;
}

.callback__title {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  margin-bottom: 17px;
}

.callback__input-label {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.callback__input {
  width: 290px;
  height: 40px;
  border: 1px solid #333333;
  border-radius: 100px;
  padding-left: 23px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.callback__input::placeholder {
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.callback__input:focus {
  background-color: #eaeaea;
}

.js-validate-error-label {
  position: absolute;
  top: -25px;
  left: 23px;
  width: max-content;
  font-size: 12px;}

.callback__btn {
  position: relative;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #9D5CD0;
  background-color: transparent;
  border: 2px solid var(--theme-color);
  border-radius: 100px;
  padding: 10px 33px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

.callback__btn::after {
  content: '';
  position: absolute;
  top: -6px;
  left: -6px;
  width: 110%;
  height: 134%;
  border: 2px solid var(--hover-color);
  border-radius: 100px;
  transition: border 0.3s ease;
  opacity: 0;
}

.callback__btn:focus:after {
  opacity: 1;
}

.callback__btn:active {
  background-color: var(--active-color);
  border: 2px solid #D1A9F0;
  color: var(--white-color);
}

.contacts__social {
  order: 3;
  padding: 0 15px;
  width: 100%;
}

.contacts__social-title {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  margin-bottom: 7px;
}

.contacts__social-item:first-child {
  margin-right: 20px;
}

.contacts__social-link {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  transition: opacity 0.3s ease, border 0.3s ease;
  outline: none;
}

.contacts__social-link--whatsapp {
  background-image: url('../img/Whatsapp-Icon.svg');
}

.contacts__social-link--telegram {
  background-image: url('../img/Telegram.svg');
}

.contacts__social-link:focus {
  opacity: 0.5;
}

.contacts__social-link:active {
  border: 2px solid var(--active-color);
}

.contact__social-list {
  display: flex;
}

.contacts__showroom-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

@media (min-width:768px) {
  .contacts__container {
    flex-wrap: wrap;
  }

  .contacts {
    margin-bottom: 0;
  }

  .contacts__adress--mob {
    display: none;
  }

  .contacts__adress--desctop {
    display: block;
    margin-bottom: 39px;
  }

  .contacts__wrap-left {
    border: 1px solid #cacaca;
    width: 55.9%;
    order: 0;
    padding: 125px 0 0 0;
    padding-left: calc((100% - 668px)/2);
  }

  .contacts__wrap-right {
    width: 44.1%;
    order: 1;
    margin-bottom: 0;
  }

  .contacts__map {
    height: 700px;
    overflow: hidden;
  }

  .contacts__title {
    margin: 0 auto 33px;
  }

  .contacts__showroom-name {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 18px;
  }

  .contacts__showroom-adress {
    font-size: 16px;
  }

  .callback__title {
    font-size: 24px;
  }

  .callback {
    width: 100%;
    padding: 0;
    margin-bottom: 37px;
  }

  .callback__input-label {
    margin-bottom: 22px;
  }

  .callback__input {
    width: 335px;
  }

  .callback__btn {
    font-size: 18px;
    padding: 20px 33px;
  }

  .callback__btn::after {
    top: -7px;
    left: -7px;
    width: 109%;
    height: 125%;
  }

  .contacts__social {
    padding: 0;
  }

  .contacts__social-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .contacts__social-link {
    width: 60px;
    height: 60px;
  }

  .contacts__social-item:first-child {
    margin-right: 30px;
  }
}

@media (min-width:1024px) {
  .contacts__wrap-left {
    width: 47.5%;
    padding-left: calc((100% - 924px)/2);
  }

  .contacts__wrap-right {
    width: 52.5%;
  }
}

@media (min-width:1280px) {
  .contacts__wrap-right {
    width: 62%;
  }

  .contacts__wrap-left {
    width: 38%;
    padding-left: calc((100% - 1200px)/2);
  }

  .callback__input:hover {
    background-color: #eaeaea;
  }

  .contacts__social-link:hover {
    opacity: 0.5;
  }

  .callback__btn:hover {
    border: 2px solid var(--hover-color);
    background-color: var(--hover-color);
    color: var(--white-color);
  }
}

@media (min-width:1710px) {
  .contacts__wrap-left {
    width: 35.8%;
    padding-left: calc((100% - 1600px)/2);
  }

  .contacts__wrap-right {
    width: 64.2%;
  }

  .callback__input {
    width: 400px;
  }

  .contacts__social-item:first-child {
    margin-right: 20px;
  }

  .contacts__social-link {
    width: 40px;
    height: 40px;
  }
}



