.events {
  margin-bottom: 50px;
}

.event__title {
  margin-bottom: 15px;
}

.event__list {
  display: flex;
}

.swiper-container1 {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.swiper-wrapper1 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.event__item {
  flex-shrink: 0;
  box-sizing: border-box;
  border: 1px solid #CACACA;
  width: 100%;
}

.event__img {
  width: 100%;
  margin-bottom: 6px;
}

.event__place {
  display: block;
  width: 220px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: end;
  color: #999999;
  padding-right: 10px;
  margin-left: auto;
  margin-bottom: 3px;
}

.event__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 432px;
  padding: 0 18px 50px 28px;
}

.event__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  padding: 0;
  margin: 0;
}

.event__desc {
  padding-right: 10px;
  margin: 0;
}

.event__link {
  width: fit-content;
  color: var(--theme-color);
  line-height: 25px;
  border-bottom: 1px solid var(--theme-color);
  outline: none;
  transition: all 0.3s ease;
}

.event__link:focus {
  background-color: var(--theme-color);
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
}

.event__link:active {
  background-color: transparent;
  color: #333333;
  border-bottom: 1px solid #333333;
}

.event__more-btn {
  display: none;
  padding: 0;
  margin: 0;
}

.swiper-pagination1 {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 7.5px;
}

.swiper-pagination-bullet-active {
  background: #666666;
}
.swiper-pagination-bullet-active:active {
  background-color: #333333;
}

@media (min-width:768px) {
  .events {
    margin-bottom: 80px;
  }

  .swiper-container1 {
    width: fit-content;
    padding: 0;
  }

  .swiper-wrapper1 {
    flex-wrap: wrap;
    margin: 0;
  }

  .swiper-pagination1 {
    display: none;
  }

  .event__title {
    margin-bottom: 32px;
  }

  .event__item {
    width: 47.4%;
    margin-right: 34px;
    margin-bottom: 50px;
  }

  .event__item:nth-child(2n) {
    margin-right: 0;
  }

  .event__item:nth-child(n+3) {
    display: none;
  }

  .event__item:last-child {
    margin-bottom: 0;
  }

  .event__img {
    margin-bottom: 5px;
  }

  .event__place {
    padding-right: 16px;
  }

  .event__info {
    min-height: 432px;
    padding: 0 24px 50px 34px
  }

  .event__item-title {
    margin-bottom: 2px;
  }

  .event__more-btn {
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: var(--theme-color);
    background-color: transparent;
    border: 2px solid var(--theme-color);
    border-radius: 100px;
    padding: 15px 33px;
    margin: 0 auto;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
  }

  .event__more-btn::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: 107%;
    height: 122%;
    border: 2px solid var(--hover-color);
    border-radius: 100px;
    transition: border 0.3s ease;
    opacity: 0;
  }

  .event__more-btn:focus::after {
    opacity: 1;
  }

  .event__more-btn:active {
    background-color: var(--active-color);
    border: 3px solid #D1A9F0;
    color: var(--white-color);
  }
}

@media (min-width:1024px) {
  .event__item {
    width: 31.25%;
    margin-right: 27px;
  }

  .event__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .event__item:nth-child(2n) {
    margin-right: 27px;
  }

  .event__item:nth-child(3n) {
    margin-right: 0;
  }

  .event__item:nth-child(3) {
    display: block;
    margin-bottom: 50px;
  }

  .event__item:nth-child(n+4) {
    display: none;
  }

  .event__img {
    margin-bottom: 6px;
  }

  .event__place {
    padding-right: 17px;
  }

  .event__item-title {
    margin-bottom: 3px;
  }

  .event__desc {
    padding-right: 7px;
  }
}

@media (min-width:1280px) {
  .events {
    padding-bottom: 80px;
    margin: 0;
  }

  .event__title {
    margin-bottom: 32px;
  }

  .event__img {
    margin-bottom: 4px;
  }

  .event__info {
    min-height: 350px;
    padding: 0 47px 41px 50px;
  }

  .event__item-title {
    margin-bottom: 2px;
  }

  .event__item {

    margin-right: 30px;
  }

  .event__item:nth-child(2n) {
    margin-right: 30px;
  }

  .event__link:hover {
    color: var(--active-color);
    border-bottom: 1px solid var(--active-color);
  }

  .event__more-btn:hover {
    background-color: var(--hover-color);
    border: 2px solid transparent;
    color: var(--white-color);
  }
}

@media (min-width:1710px) {
  .event__item {
    margin-right: 50px;
  }

  .event__item:nth-child(2n) {
    margin-right: 50px;
  }
}
