.gallery {
  background-image: url('../img/320/gallery.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 54px;
  padding-bottom: 40px;
}

.gallery__top {
  margin-bottom: 40px;
}

.gallery__title {
  color: var(--white-color);
  margin-bottom: 15px;
}

.gallery__select-filter {
  font-weight: 600;
  color: var(--white-color);
  padding: 0;
  margin: 0;
  margin-bottom: 4px;
}

.choices__list--dropdown .choices__item--selectable.is-selected {
  display: none;
}

.choices::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  width: 98.5%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--white-color);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.choices:focus::before {
  opacity: 0.2;
}

.choices__inner {
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  color: var(--white-color);
  line-height: 30px;
  border: 1px solid var(--white-color);
  border-radius: 6px;
  min-height: 40px;
  padding: 0px 9px;
}

.choices__inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  width: 98.5%;
  height: 100%;
  border-radius: 6px;
  background-color: var(--white-color);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.choices__inner:hover::before {
  opacity: 0.2;
}

.choices__inner:focus::before {
  opacity: 0.2;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices[data-type*=select-one]:after {
  border-style: none;
  border-color: transparent;
  border-width: 0;
  content: '';
  height: 7px;
  width: 7px;
  position: absolute;
  right: 15.5px;
  top: 50%;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transform: rotate(-45deg);
  margin-top: -3.5px;
  pointer-events: none;
}

.choices[data-type*=select-one].is-open:after {
  border-color: transparent;
  border-left: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  margin-top: -3.5px;
  transform: rotate(135deg);
}

.choices__list--dropdown {
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--white-color);
  border-radius: 6px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  color: var(--white-color);
  background-color: transparent;
}

.choices__placeholder {
  opacity: 1;
}

.choices__list--dropdown .choices__item {
  font-size: 16px;
  padding: 2px 10px;
}

.choices__list--dropdown .choices__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.choices__list--dropdown .choices__item:hover::before {
  opacity: 0.2;
}

.choices__list--dropdown .choices__item:focus::before {
  opacity: 0.2;
}

.choices__list--dropdown .choices__list::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  background-color: var(--white-color);
  transform: translateY(-50%);
}

.choices__list--dropdown .choices__item--selectable:after {
  display: none;
}

.swiper-container0 {
  display: flex;
  flex-wrap: wrap;
  width: 290px;
  height: 417px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  overflow: hidden;
}

.swiper-slide {
  cursor: pointer;
}

.swiper-slide:focus {
  border: 3px solid var(--active-color)
}

.swiper-slide::after {
  content: '';
  position: absolute;
  width: 85%;
  height: 85%;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  background-image: url('../img/Group12.svg');
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.swiper-slide::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #C283F3;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.swiper-slide:active:after {
  opacity: 0.5;
}

.swiper-slide:active:before {
  opacity: 0.4;
}

.swiper-wrapper {
  margin-bottom: 20px;
}

.gallery__slide-img {
  width: 100%;
  height: 100%;
}

.swiper-nav-wrap {
  display: flex;
  align-items: center;
  width: auto;
  height: 30px;
  margin: 0 auto;
  order: 1;
}

.swiper-button-next0::after,
.swiper-button-prev0::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-top: 1px solid var(--white-color);
  border-left: 1px solid var(--white-color);
}

.swiper-button-next0:after {
  transform: rotate(135deg);
  top: 9px;
  left: 7px;
}

.swiper-button-prev0:after {
  transform: rotate(315deg);
  top: 9px;
  left: 11px;
}

.swiper-button-next0,
.swiper-button-prev0 {
  position: relative;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #666666;
  border-radius: 100px;
  border: 2px solid transparent;
  margin: 0;
  transition: border 0.3s ease, background-color 0.3s ease;
}

.swiper-button-next0:hover,
.swiper-button-prev0:hover {
  background-color: var(--theme-color);
}

.swiper-button-next0:focus,
.swiper-button-prev0:focus {
  border: 2px solid #000000;
  outline: none;
}

.swiper-button-next0:active ,
.swiper-button-prev0:active {
  background-color: var(--active-color);
  border: 2px solid #000000;
}

.swiper-button-next0.swiper-button-disabled,
 .swiper-button-prev0.swiper-button-disabled {
  opacity: 0.5;
}

 .swiper-pagination0 {
  position: relative;
  font-size: 16px;
  color: var(--white-color);
  line-height: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  position: relative;
  width: auto;
  height: 16px;
  bottom: 0;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.gallery__swiper-note {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-color);
}

.gallery__note-link {
  color: var(--hover-color);
  transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
}

.gallery__note-link:focus {
  background-color: var(--theme-color);
  color: var(--white-color);
  outline: none;
}

.gallery__note-link:active {
  color: var(--active-color);
  border-bottom: 1px solid var(--active-color);
}

@media (min-width:768px) {
  .gallery {
    padding-top: 97px;
    padding-bottom: 69px;
    background-image: url('../img/768/gallery.jpg');
  }

  .gallery__top {
    margin-bottom: 50px;
  }

  .gallery__title {
    margin-bottom: 32px;
  }

  .gallery__select-filter {
    margin-bottom: 10px;
  }

  .choices__inner {
    width: 280px;
  }

  .choices[data-type*=select-one]:after {
    left: 257px;
  }

  .choices__list--dropdown {
    width: 280px;
  }

  .swiper-slide {
    width: 317px;
    height: 280px;
  }

  .gallery__slide-img {
    width: 100%;
    height: 100%;
  }

  .swiper-container0 {
    width: 668px;
    height: 653px;
    padding: 0;
    margin-bottom: 32px;
  }

  .swiper-wrapper {
    order: 1;
  }

  .swiper-nav-wrap {
    order: 0;
    margin: 0;
    margin-bottom: 30px;
  }

}

@media (min-width:1024px) {
  .gallery {
    background-image: url('../img/1024/gallery.jpg');
    padding-bottom: 49px;
  }

  .gallery__container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__top {
    order: 0;
    width: 283px;
    margin-right: 47px;
  }

  .swiper-container0 {
    order: 1;
    width: 594px;
    height: 661px;
    margin-right: 0;
    margin-left: 0;
  }


  .swiper-nav-wrap {
    padding-top: 16px;
    margin-bottom: 38px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    padding-right: 10px;
    padding-left: 10px;
  }

  .gallery__swiper-note {
    position: absolute;
    width: 280px;
    bottom: 21px;
  }
}

@media (min-width:1280px) {
  .gallery {
    background-image: url('../img/1920/gallery.jpg');
  }

  .swiper-container0 {
    width: 847px;
  }

  .gallery__note-link:hover {
    border-bottom: 1px solid var(--hover-color);
  }

  .swiper-slide:hover:after {
    opacity: 0.5;
  }
}

@media (min-width:1710px) {
  .gallery {
    padding-bottom: 47px;
  }

  .gallery__top {
    width: 403px;
    margin-right: 47px;
  }

  .choices__inner {
    width: 400px;
  }

  .choices__list--dropdown {
    width: 400px;
  }

  .choices[data-type*=select-one]:after {
    left: 375px;
  }

  .swiper-container0 {
    width: 1150px;
    height: 818px;
  }

  .swiper-nav-wrap {
    padding-left: 3px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    padding-right: 15px;
    padding-left: 15px;
  }

  .swiper-slide {
    width: 350px;
    height: 350px;
  }

  .gallery__swiper-note {
    width: 345px;
  }
}
