.header {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	max-width: 100%;
	background-color: #000000;
}

.header__wrap {
  display: flex;
  max-width: 290px;
  padding: 12px 0 11px 0;
  margin: 0 auto;
}

.header__container-top,
.header__container-bottom {
  display: flex;
  align-items: center;
}

.header__top {
	width: 274px;
	display: flex;
  align-items: center;
}

.header__bottom {
	width: 16px;
  display: flex;
  align-items: center;
}

.burger {
	position: relative;
  width: 20px;
  height: 17px;
  border: none;
  background-color: transparent;
  color: var(--white-color);
  padding-top: 2px;
  display: block;
  cursor: pointer;
}

.burger:active > .burger__line {
	background-color: var(--theme-color);
}

.burger:focus {
	outline: var(--outline-theme);
}

.burger__line {
	position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.burger__line--first {
	top: 0;
}

.burger__line--second {
	top: 42%;
	width: 77%;
}

.burger__line--third {
	top: 82%;
	width: 66%;
}

.header__top-nav {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: 355px;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 15px;
	z-index: 2;
	transition: opacity 0.2s ease, visibility 0.2s ease;
	opacity: 0;
	visibility: hidden;
}

.header__top-list {
	margin-bottom: 25px;
}

.header__top-link {
	font-weight: 600;
	color: var(--white-color);
  transition: color 0.3s ease;
}

.header__top-link:focus {
	background-color: var(--active-color);
  outline: none;
}

.header__link-wrap{
  width: 15px;
  height: 15px;
	padding-right: 5px;
}

.header__link-icon {
  width: 100%;
  height: 100%;
  fill: var(--white-color);
  transition: fill 0.3s ease;
}

.header__login-link {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	font-weight: 600;
	font-size: 12px;
	line-height: 14px;
	color: var(--white-color);
	border: 2px solid var(--theme-color);
	border-radius: 100px;
	padding: 10px 30px;
	margin: 0;
	transition: color 0.3s ease;
}

.header__login-link::after {
	content: '';
	position: absolute;
	top: -5px;
  left: -5px;
  width: 109%;
  height: 126%;
	border: var(--outline-theme);
	border-radius: 100px;
	transition: opacity 0.2s ease;
	opacity: 0;
}

.header__login-link:focus {
	outline: none;
}

.header__login-link:active {
	background-color: #7943A4;
	border: 3px solid var(--hover-color);
}

.header__login-link:active > .header__link-wrap > .header__link-icon {
	fill: var(--white-color);
}

.header__login-link:focus::after  {
	opacity: 1;
	outline: none;
}

.header__header__link-icon {
	fill: var(--white-color);
	width: 13px ;
	height: 13px;
	transition: fill 0.2s ease-in-out;
}

.burger--open {
	opacity: 1;
	visibility: visible;
}

.close-btn {
	position: relative;
	width: 15px;
	height: 15px;
	background-color: transparent;
	border: none;
	display: block;
  outline: none;
}

.header__top-close-btn {
  margin-bottom: 15px;
}

.header__top-close-btn:focus {
	outline: var(--outline-theme);
}

.close-btn:active > .close-btn__first-line {
	background-color: var(--active-color);
}

.close-btn:active > .close-btn__second-line {
	background-color: var(--active-color);
}

.close-btn__first-line,
.close-btn__second-line {
	position: absolute;
	top: 6px;
	right: 0;
	width: 19px;
	height: 2px;
	background-color: var(--white-color);
}

.close-btn__first-line {
	transform: rotate(45deg);
}

.close-btn__second-line {
	transform: rotate(135deg);
}

.header__logo {
	width: 100px;
	height: 22px;
	margin: 0 auto;
}

.header__bottom-nav {
	display: flex;
}

.header__bottom-list {
	display: none;
}

.header__form {
	position: relative;
	background-color: transparent;
	line-height: 1;
	padding: 0;

  transition: all 0.3s ease;
}

.form__close-btn {
	display: none;
	width: 100%;
	margin-bottom: 0;
}

.header__form.open-form > .form__close-btn {
	display: block;
}

.search-button {
	width: 16px;
	height: 16px;
	background-color: transparent;
	border: none;
	padding: 0;
  margin-right: 3px;
}

.search-button:focus {
	outline: var(--outline-theme);
}

.search-button:active > .search-button__wrap > .search-button__icon {
	fill: var(--active-color);
}

.search-button__wrap {
	display: inline-block;
	width: 16px;
	height: 16px;
}

.search-button__icon {
	width: 100%;
	height: 100%;
	fill: var(--white-color);
	transition: fill 0.3s ease;
}

.form__input {
	display: none;
	height: 16px;
	width: 180px;
	background-color: transparent;
	color: var(--hover-color);
	border: none;
	border-bottom: 1px solid var(--white-color);
	opacity: 0.85;
	transition: border 0.3s ease;
	cursor: pointer;
}

.header__form.open-form > .form__input {
	display: block;
}

.form__input:focus {
	border-bottom: 1px solid var(--active-color);
  outline: none;
}

::-webkit-input-placeholder {color:transparent;}
::-moz-placeholder          {color:transparent;}
:-moz-placeholder           {color:transparent;}
:-ms-input-placeholder      {color:transparent;}


.open-form {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(40px);
	padding: 15px 15px 20px 15px;
	transition: all 0.3s ease;
}

@media (min-width:576px) {
	.header__wrap {
		max-width: 576px;
	}

  .header__top {
    width: 530px;
  }
}

@media (min-width:768px) {
  .header__wrap {
    max-width: 768px;
    padding: 29px 50px 29px 50px;
  }

	.header__top {
		width: 638px;
	}

	.burger {
		width: 36px;
		height: 28px;
	}

	.burger__line {
		height: 3px;
	}

	.header__top-nav {
		height: 768px;
		padding: 37px 50px 50px 50px;
	}

	.close-btn {
		width: 29px;
		height: 29px;
		margin-bottom: 30px;
	}

	.close-btn__first-line,
	.close-btn__second-line {
		top: 13px;
		right: -5px;
		width: 37px;
		height: 3px;
	}

	.header__top-list {
		margin-bottom: 105px;
	}

	.header__top-link {
		font-size: 24px;
		line-height: 64px;
	}

	.header__login-link {
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
		padding: 19px 88px;
	}

	.header__login-link::after {
		top: -7px;
		left: -7px;
		width: 105.5%;
		height: 123%;
	}

	.header__logo {
		width: 187px;
		height: 42px;
	}

	.header__bottom {
		width: 30px;
	}

	.header__form {
		align-items: center;
		background-color: #000000;
		backdrop-filter: none;
	}

	.open-form {
		height: 100px;
	}

	.form__close-btn {
		width: 30px;
		order: 2;
		margin: 0;
	}

	.search-button {
		width: 29px;
		height: 28px;
		order: 0;
	}

	.search-button__wrap {
		width: 100%;
		height: 100%;
	}

	.form__input {
		height: 28px;
		width: 576px;
		margin-right:20px;
	}
}

@media (min-width:1024px) {
  .header__wrap {
    max-width: 1024px;
  }

  .header__top {
		width: 554px;
    justify-content: space-between;
	}

	.header__bottom {
		width: 374px;
    display: flex;
    justify-content: flex-end;
	}

	.header__logo {
		margin: 0;
	}

	.header__login-link:focus {
		outline: none;
	}

	.header__login-link:active {
		background-color: #7943A4;
		border: 3px solid var(--hover-color);
	}

	.header__login-link:active > .header__link-wrap > .header__link-icon {
		fill: var(--white-color);
	}

	.header__login-link:focus::after  {
		opacity: 1;
		outline: none;
	}

	.header__bottom-list {
		display: none;
	}

	.header__form {
		position: relative;
		display: flex;
		padding: 0;
	}

	.open-form {
		height: auto;
	}

	.header__form.open-form > .form__close-btn {
		display: none;
	}

	.form__input {
		width: 218px;
		margin-right: 0;
	}


	::-webkit-input-placeholder {color: transparent;}
	::-moz-placeholder          {color: transparent;}
	:-moz-placeholder           {color: transparent;}
	:-ms-input-placeholder 		{color: transparent;}

	.search-button__wrap {
		width: 29px;
		height: 29px;
	}
}

@media (min-width:1280px) {
  .header__wrap {
    max-width: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
  }

  .header__container-top {
    max-width: 100%;
    width: 100%;
    background-color: #000000;
    margin: 0 auto;
  }

	.header__top {
		max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
		padding: 30px 30px 28px 30px;
    margin: 0 auto;
	}

	.header {
		background-color: transparent;
	}

	.burger {
		display: none;
	}

	.header__logo {
		width: 173px;
		margin: 0;
	}

	.close-btn {
		display: none;
	}

	.header__top-nav {
		position: relative;
		display: flex;
    align-items: center;
    justify-content: space-between;
		width: 80%;
		flex-direction: row;
		height: auto;
		background-color: transparent;
		padding: 0;
		opacity: 1;
		visibility: visible;
	}

	.header__top-list {
		display: flex;
		margin-bottom: 0;
	}

	.header__top-item {
		margin-right: 40px;
	}

	.header__top-item:last-child {
		margin-right: 0;
	}

	.header__top-link {
		font-size: 16px;
		line-height: 25px;
	}

	.header__top-link:hover {
		color: var(--hover-color);
	}

	.header__top-link:active {
		color: var(--active-color);
	}

	.header__login-link:hover  {
		color: var(--hover-color);
}

	.header__login-link:active  {
		color: var(--active-color);
}

.header__login-link:focus {
  outline: var(--outline-theme);
}

	.header__login-link:active > .header__link-wrap > .header__link-icon{
		fill:var(--active-color)
}

	.header__login-link {
		border: none;
    border-radius: 0px;
		font-size: 16px;
		line-height: 18px;
		color: var(--white-color);
		padding: 0;
	}

	.header__login-link::after {
		border: none;
	}

	.header__login-link:focus {
		background-color: var(--active-color);
		border: none;
    outline: none;
	}

	.header__top-link:active,
	.header__login-link:active {
	color: var(--active-color);
	outline: none;
	}

	.header__login-link:hover > .header__link-wrap > .header__link-icon{
		fill:var(--hover-color)
	}

	.header__link-wrap {
		padding-right: 5px;
    width: 18px;
    height: 18px;
	}

  .header__container-bottom {
    max-width: 100%;
    width: 100%;
    background-color: #00000066;
    margin: 0 auto;
  }

	.header__bottom {
		position: relative;
		max-width: 1920px;
    width: 100%;
		background-color: transparent;
		padding: 0;
    display: flex;
		margin: 0 auto;
		padding: 21px 30px 0 30px;
    margin: 0 auto;
		z-index: 5;
	}

	.header__bottom-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	.header__bottom-list {
		display: flex;
		color: var(--white-color);
	}

	.header__bottom-item {
		position: relative;
		margin-right: 60px;
		padding-bottom: 16px;
	}

	.header__bottom-item:last-child {
		margin-right: 0;
	}

	.header__bottom-btn {
		position: relative;
		display: inline-block;
    background-color: transparent;
    border: none;
		font-size: 16px;
		line-height: 25px;
    color: var(--white-color);
		padding-right: 20px;
		transition: color 0.2s ease;
	}

  .header__bottom-btn:focus {
   background-color: var(--active-color);
   outline: none;
  }

	.header__bottom-btn:hover {
		color:var(--hover-color);
		outline: none;
	}

	.header__bottom-btn::after {
		content: '';
		position: absolute;
		top: 8px;
		display: inline-block;
		width: 7px;
		height: 7px;
		border-bottom: 1px solid var(--white-color);
		border-right: 1px solid var(--white-color);
		margin-left: 5px;
		transform: rotate(45deg);
		transition: all 0.2s ease;
	}

	.header__bottom-btn:hover::after {
		border-color: var(--hover-color);
	}

	.header__bottom-btn:active {
		color: var(--active-color);
	}

	.header__bottom-btn:hover::after {
		border-color: var(--hover-color);
	}

  .header__bottom-btn:active::after {
		border-color: var(--active-color);
	}

	.header-bottom-nav-ist-link:active::after {
		border-color: var(--active-color);
	}

    .dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		width: 300px;
		height: 300px;
		overflow: auto;
		background-color:  #00000099;
		padding: 40px;
		display: none;
		transition: all 1s ease;
	}

	.dropdown-active {
		display: block;
	}

	.dropdown__link {
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
	}

	.dropdown__item {
		position: relative;
    display: flex;
    align-items: center;
		width: 100%;
		height: 40px;
		padding-left: 15px;
		margin-bottom: 20px;
		background-repeat: no-repeat;
		background-size: cover;
		border: 2px solid transparent;
		transition: all 0.2s ease-in-out;
	}

	.dropdown__item:last-child {
		margin-bottom: 0;
	}

	.dropdown__item::after {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		width: 220px;
		height: 40px;
		background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
		border: 2px solid #D1A9F0;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease-in-out;
	}

	.dropdown__item:hover {
		border: 2px solid var(--hover-color);
	}

	.dropdown__item:active::after {
		opacity: 1;
		visibility: visible;
	}

	.dropdown__item--tintorretto {
		background: url('../img/Rectangle\ 57.png');
	}

	.dropdown__item--friedrich {
		background-image: url('../img/Rectangle\ 58.png');
	}

	.dropdown__item--leonardo {
		background-image: url('../img/Rectangle\ 59.png');
	}

	.dropdown__item--verrocchio {
		background-image: url('../img/Rectangle\ 60.png');
	}

	.dropdown__item--mone {
		background-image: url('../img/Rectangle\ 571.png');
	}

	.dropdown__item--sisley {
		background-image: url('../img/Rectangle\ 582.png');
	}

	.dropdown__item--mane {
		background-image: url('../img/Rectangle\ 593.png');
	}

	.dropdown__item--renuar {
		background-image: url('../img/Rectangle\ 604.png');
	}

	.dropdown__item--van-gogh {
		background-image: url('../img/Rectangle\ 575.png');
	}

	.dropdown__item--sezann {
		background-image: url('../img/Rectangle\ 586.png');
	}

	.dropdown__item--gauguin {
		background-image: url('../img/Rectangle\ 597.png');
	}

	.dropdown__item--sulfur {
		background-image: url('../img/Rectangle\ 608.png');
	}

	.dropdown__item--kandinsky {
		background-image: url('../img/Rectangle\ 579.png');
	}

	.dropdown__item--marinetti {
		background-image: url('../img/Rectangle\ 5810.png');
	}

	.dropdown__item--malevich {
		background-image: url('../img/Rectangle\ 5911.png');
	}

	.dropdown__item--picasso {
		background-image: url('../img/Rectangle\ 6012.png');
	}

	.dropdown__item--carra {
		background-image: url('../img/Rectangle\ 5713.png');
	}

	.dropdown__item--pratella {
		background-image: url('../img/Rectangle\ 5814.png');
	}

	.dropdown__item--severini {
		background-image: url('../img/Rectangle\ 5915.png');
	}

	.dropdown__item--balla {
		background-image: url('../img/Rectangle\ 6016.png');
	}

	.simplebar-scrollbar:before {
		left: 0;
		right: 0;
		background-color: var(--white-color);
		opacity: 1;
		border-radius: 0;
	}

	.simplebar-track.simplebar-vertical {
		width: 2px;
	}

	.simplebar-track {
		right: 19px;
		margin-top: 40px;
		margin-bottom: 40px;
		background-color: #000000;
	}

	.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
		top: 0;
		bottom: 0;
	}

	.simplebar-scrollbar.simplebar-visible:before {
		opacity: 1;
		background-color: var(--theme-color);
	}

	.header__form {
		display: flex;
		background-color: transparent;
		padding: 0;
		padding-bottom: 17px;
	}

	.header__form:hover > .form__search-button > .search-button__wrap > .search-button__icon {
    fill: var(--hover-color);
  }

	.header__form:hover > .form__input {
		border-color: var(--hover-color);
    outline: none;
	}

	.form__input {
		display: block;
		width: 210px;
    height: 24px;
	}

	.search-button__wrap {
		width: 23px;
		height: 23px;
	}

	::-webkit-input-placeholder {color:var(--white-color); font-size: 18px;}
	::-moz-placeholder          {color:var(--white-color); font-size: 18px;}
	:-moz-placeholder           {color:var(--white-color); font-size: 18px;}
	:-ms-input-placeholder      {color:var(--white-color); font-size: 18px;}
}

@media (min-width:1710px) {
	.header__top {
		padding: 30px 150px 28px 150px;
  }

	.header__top-nav {
		width: 78%;
	}

	.header__top-item {
		margin-right: 62px;
	}

	.header__top-link {
		font-size: 18px;
	}

	.header__login-link {
		font-size: 18px;
	}

	.header__bottom {

		padding-right: 150px;
		padding-left: 142px;
	}

	.header__bottom-item {
		margin-right: 87px;
	}

	.header__bottom-btn {
		font-size: 18px;
	}

	.form__input {
		width: 224px;
	}

}
