.projects {
  padding-top: 53px;
  margin-bottom: 53px;
}

.projects__title {
  margin-bottom: 15px;
}

.projects__text {
  margin: 0;
  margin-bottom: 10px;
}

.tooltip__button {
  position: relative;
  width: 16px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tooltip__icon {
  fill: none;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.tooltip__button:focus .tooltip__icon,
.tooltip__button:active .tooltip__icon {
  fill: var(--theme-color);
  color: var(--white-color);
}

.tippy-box[data-theme~='themeColor'] {
  background-color: #cacaca;
  color: white;
  text-align: center;
  width: max-content;
  border-radius: 0;
  padding: 5px 5px;
}

.tippy-box[data-theme~='themeColor'][data-placement^='top'] > .tippy-arrow::before {
border-top-color: #cacaca;
}

.tippy-box[data-theme~='themeColor'][data-placement^='bottom'] > .tippy-arrow::before {
border-bottom-color: #cacaca;
}

.tippy-box[data-theme~='themeColor'][data-placement^='left'] > .tippy-arrow::before {
border-left-color: #cacaca;
}

.tippy-box[data-theme~='themeColor'][data-placement^='right'] > .tippy-arrow::before {
border-right-color: #cacaca;
}

.projects__link {
  display: inline-block;
  font-weight: 600;
  color: var(--theme-color);
  line-height: 28px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  outline: none;
}

.projects__link:focus {
  background-color: var(--theme-color);
  color: var(--white-color);
}

.projects__link:active {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
}

.projects__partners-title {
  font-weight: 600;
  font-size: 18px;
  padding: 0;
  margin: 0;
  margin-bottom: 11px;
}

.projects__partners-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  flex-shrink: 0;
  border: 1px solid #cacaca;
  filter: grayscale(1);
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.projects__partners-item:focus {
  border: 1px solid var(--theme-color)
}

.projects__partners-item:active {
  border: 1px solid var(--theme-color);
  filter: grayscale(0);
  opacity: 1;
}

.project__partner-picture {
  display: flex;
  width: auto;
  height: auto;
}

.freelands {
  width: 105px;
  height: 26px;
}

.institute {
  width: 142px;
  height: 25px;
}

.workhouse {
  width: 117px;
  height: 27px;
}

.comp1849 {
  width: 54px;
  height: 37px;
}

.hiscox {
  width: 75px;
  height: 37px;
}

.camden {
  width: 110px;
  height: 31px;
}

.stassen {
  width: 124px;
  height: 30px;
}

.watts {
  width: 81px;
  height: 35px;
}

.esad {
  width: 100px;
  height: 27px;
}

.projects__slider {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.swiper-container3 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
  flex-shrink: 0;
  width: 67.245%;
}

.swiper-wrapper3 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  flex-shrink: 0;
}

.swiper-button-prev3,
.swiper-button-next3 {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #ececec;
  border: 2px solid #ececec;
  transition: all 0.3s ease;
}

.swiper-button-prev3::after,
.swiper-button-next3::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.swiper-button-prev3::after {
  transform: rotate(45deg);
  top: 8px;
  left: 10px;
}

.swiper-button-next3::after {
  transform: rotate(-135deg);
  top: 8px;
  left: 8px;
}

.swiper-button-prev3:focus,
.swiper-button-next3:focus {
  outline: none;
  border: 2px solid var(--theme-color);
}

.swiper-button-prev3:active,
.swiper-button-next3:active {
  border: 2px solid var(--theme-color);
  background-color: #D1A9F0;
}

.swiper-button-prev3:disabled::after,
.swiper-button-next3:disabled::after {
  border-left: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
}

@media (min-width:768px) {
  .projects {
    padding-top: 97px;
    margin-bottom: 96px;
  }

  .projects__title {
    margin-bottom: 32px;
  }

  .projects__text {
    width: 656px;
    margin-bottom: 26px;
  }

  .tippy-box[data-theme~='themeColor'] {
    background-color: var(--theme-color);
    color: white;
  }

  .tippy-box[data-theme~='themeColor'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--theme-color);
  }

  .tippy-box[data-theme~='themeColor'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--theme-color);
  }

  .tippy-box[data-theme~='themeColor'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--theme-color);
  }

  .tippy-box[data-theme~='themeColor'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--theme-color);
  }

  .projects__partners-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }

  .swiper-container3 {
    width: 84%;
  }

  .projects__partners-item {
    height: 106px;
  }

  .freelands {
    width: 210px;
    height: 52px;
  }

  .institute {
    width: 217px;
    height: 38px;
  }

  .workhouse {
    width: 185px;
    height: 45px;
  }

  .comp1849 {
    width: 105px;
    height: 73px;
  }

  .hiscox {
    width: 121px;
    height: 59px;
  }

  .camden {
    width: 176px;
    height: 48px;
  }

  .stassen {
    width: 194px;
    height: 47px;
  }

  .watts {
    width: 143px;
    height: 62px;
  }

  .esad {
    width: 182px;
    height: 49px;
  }
}

@media (min-width:1024px) {
  .projects__title {
    margin-bottom: 32px;
  }

  .projects__text {
    width: 100%;
    margin-bottom: 20px;
  }

  .projects__partners-title {
    margin-bottom: 23px;
  }

  .swiper-container3 {
    width: 88.63%;
  }

  .projects__partners-item {
    height: 128px;
  }

  .freelands {
    width: 210px;
    height: 52px;
  }

  .institute {
    width: 283px;
    height: 49px;
  }

  .workhouse {
    width: 229px;
    height: 54px;
  }

  .comp1849 {
    width: 105px;
    height: 73px;
  }

  .hiscox {
    width: 148px;
    height: 73px;
  }

  .camden {
    width: 215px;
    height: 60px;
  }

  .stassen {
    width: 244px;
    height: 59px;
  }

  .watts {
    width: 158px;
    height: 70px;
  }

  .esad {
    width: 196px;
    height: 53px;
  }
}

@media (min-width:1280px) {
  .projects {
    padding-top: 96px;
  }

  .projects__title {
    margin-bottom: 35px;
  }

  .projects__text {
    width: 1066px;
    margin-bottom: 19px;
  }

  .tooltip__button:hover .tooltip__icon {
    fill: var(--theme-color);
    color: var(--white-color);
  }

  .tooltip__button:hover,
  .tooltip__button:focus {
    outline: none;
  }

  .projects__link:hover {
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
  }

  .swiper-container3 {
    width: 90.63%;
  }

  .swiper-button-prev3:hover,
  .swiper-button-next3:hover {
    border: 2px solid #D1A9F0;
    background-color: #D1A9F0;
  }

  .projects__partners-item:hover {
    filter: grayscale(0);
    opacity: 1;
  }

  .freelands {
    width: 244px;
    height: 63px;
  }

  .institute {
    width: 330px;
    height: 59px;
  }

  .workhouse {
    width: 229px;
    height: 54px;
  }

  .comp1849 {
    width: 123px;
    height: 85px;
  }

  .hiscox {
    width: 173px;
    height: 85px;
  }

  .camden {
    width: 252px;
    height: 70px;
  }

  .stassen {
    width: 286px;
    height: 69px;
  }

  .watts {
    width: 185px;
    height: 81px;
  }

  .esad {
    width: 229px;
    height: 62px;
  }

  .project__partner-img {
    max-width: 300px;
  }
}

@media (min-width:1710px) {
  .projects__partners-item {
    height: 150px;
  }

  .project__partner-img {
    max-width: 100%;
  }
}


