.projects {
  padding-top: 52px;
}

.projects__text {
margin-bottom: 10px;
}

.tooltip {
  display: inline-flex;
  justify-content: flex-end;
  width: 16px;
  height: 20px;
}

.tolltip__icon {
  fill: none;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.projects__link {
  font-weight: 600;
  color: var(--theme-color);
  transition: all 0.3s ease;
  outline: none;
}

.projects__link:focus {
  background-color: var(--theme-color);
  color: var(--white-color);
}

.projects__link:active {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
}

.projects__partners-title {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.projects__partners-item {
  width: 195px;
  height: 65px;
  flex-shrink: 0;
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 54%;
  filter: grayscale(1);
  opacity: 0.5;
}

.freelands {
  background-image: url('/img/320/freelands.png');
}

.institute {
  background-image: url('/img/320/institute.png');
}

.workhouse {
  background-image: url('/img/320/workhouse.png');
}

.comp1849 {
  background-image: url('/img/320/1849.png');
  background-size: 53px 36px;
}

.hiscox {
  background-image: url('/img/320/hiscox.png');
  background-size: 75px 37px;
}

.camden {
  background-image: url('/img/320/camden.png');
}

.stassen {
  background-image: url('/img/320/stassen.png');
}

.watts {
  background-image: url('/img/320/whatts.png');
  background-size: 80px 35px;
}

.esad {
  background-image: url('/img/320/esad.png');
}

.swiper-container3 {
  overflow: hidden;
  width: 100%;
}

.swiper-wrapper3 {
  flex-shrink: 0;
}

.projects__partners-list {
  display: flex;
  flex-wrap: nowrap;

}

@media (min-width:768px) {

}

@media (min-width:1024px) {

}

@media (min-width:1280px) {

}

@media (min-width:1710px) {

}
